<app-header></app-header>
<!-- <div class="main-container def-shadow">
    <router-outlet></router-outlet>
</div> -->
<div class="div" style="width: auto;">
<div class="row" style="width: auto;">
    <div class="col-md-8" style="width: 1300;">
        <app-patient-details-card></app-patient-details-card>
        <app-injection-list></app-injection-list>
    </div>
    <div class="col-md-4" style="width: 640;">
        <app-injectionwaitingroom></app-injectionwaitingroom>
    </div>
</div>
</div>
<app-footer></app-footer>